/* roboto-300 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v30-cyrillic_latin-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-cyrillic_latin-300.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-cyrillic_latin-500.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v30-cyrillic_latin-500.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-weight: 300;
    background: #F4F4F4;
}

.whole-screen {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sign-in-main {
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./../img/background-sign-in-img.jpg);
}

.sign-in-container {
    display: grid;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-items: center;
}

.sign-in-wrapper {
    width: 409px;
    min-height: 382px;
}

.sign-in__form {
    margin: 32px;
    display: grid;
    row-gap: 24px;
}

.sign-in__title {
    margin: 0 auto;
    margin-bottom: 8px;
}

.sign-in-field {
    display: grid;
}

.sign-in__button {
    width: 345px;
    margin-top: 8px;
}

.error {
    color: #EB1717;

}

.error-message {
    margin-top: 7px;
    font-size: 12px;
}

/* booking screen */

.booking-wrapper {
    display: grid;
    grid-template-columns: 360px auto;
    grid-template-rows: 360px 1fr;
    row-gap: 75px;
    column-gap: 24px;
    margin: 0 auto;
    width: 1048px;
}

.booking-container {
    margin: 32px;
}

.header {
    font-size: 24px;
    font-weight: 500;
}

.booking__header {
    margin-bottom: 32px;
}

.exit-title {
    font-size: 16px;
    font-weight: 400;
}

.booking-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking-exit {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.rounded {
    background: #FFFFFF;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.booking-request {
    width: 360px;
    height: 410px;
}

.request__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 16px;
}

.request___label {
    font-weight: 500;
}

.input-text {
    border: 1px solid #C9CACC;
    border-radius: 4px;
    margin-top: 10px;
    height: 50px;
    padding-left: 16px;
    padding-right: 19px;
}

.request__input {
    width: 260px;
}

.button {
    height: 50px;
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    font-weight: 500;
    color: #FFFFFF;
}

.button:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}

.button:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
}

.request__button {
    width: 296px;
}

.hotels-container {
    width: 664px;
    height: fit-content;
}

.hotels {
    margin: 48px 32px 32px 48px;
}

.favorite-list .hotel-information {
    grid-template-columns: none;
    position: absolute;
}


.favorite-list .hotel-container {
    display: grid;
}

.favorite-list .hotels-list {
    display: grid;
}

.favorite-list .hotel-number-favorite {
    grid-column-start: 2;
}

.favorite-list .hotel-name {
    max-width: 240px;
}

.favorite-container {
    margin: 32px 32px 37px 32px;

}

.favorite-hotels {
    font-size: 17px;
    display: flex;
    gap: 8px;
}

.count-favorite {
    display: flex;
    gap: 4px;
}

.count {
    font-weight: 500;
}

.hotel-information {
    display: grid;
    column-gap: 24px;
    grid-template-columns: min-content 1fr;
}

.hotel-description {
    display: grid;
    row-gap: 9px;
    grid-template-columns: auto min-content 1fr;
    column-gap: 7px;
    color: #878787;
}

.hotel-price {
    display: flex;
    column-gap: 4px;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
    grid-column-start: 2;
    grid-row-start: 2;
}

.hotel-favorite {
    background-image: url(./../img/heart.svg);
    width: 21px;
    height: 18px;
    cursor: pointer;
    grid-column-start: 2;
    grid-row-start: 1;
}

.hotel-favorite:hover {
    background: url(./../img/heart-hover.svg) no-repeat;
}

.hotel-favorite-active {
    background-image: url(./../img/heart-active.svg);
}

.hotel-number-favorite {
    display: grid;
    align-items: end;
    column-gap: 20px;
    justify-items: end;
    row-gap: 32px;
    grid-template-columns: 1fr min-content;
}

.price-word {
    font-size: 11px;
    color: #878787;
    grid-row-start: 2;
    grid-column-start: 1;
}

.period {
    font-size: 14px;
    font-weight: 400;
}

.hotel-name {
    color: #424242;
    font-size: 17px;
    grid-column: 1/-1;
}

.date-arrival {
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
}

.dash {
    width: 9px;
    height: 1px;
    border-top: 1px solid #C4C4C4;
    /* position: absolute; */
    /* size: 9px;
    b
    width: 1px;
    color: #C4C4C4;
    align-items: center; */
    /* background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
    border: 0;
    height: 1px;
    margin: 22px 0 22px 0;
    box-sizing:
        content-box;
    display: block; */
    grid-column-start: 2;
}

.hotel-container {
    display: flex;
    height: min-content;
    justify-content: space-between;
    margin-top: 40px;
}

/* 
.hotels-list {
    display: flex;
    height: min-content;
    justify-content: space-between;
    margin-top: 40px;
} */
.hotels-list {
    display: grid;
}

.hotel-circle {
    display: flex;
    width: 64px;
    height: 64px;
    background: rgba(65, 82, 46, 0.05);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
}

.hotel-icon {
    margin: auto;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}

.hotels-header {
    display: flex;
    justify-content: space-between;
}

.header-description {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
}

.header-date {
    font-size: 24px;
}

.favorite-list {
    width: 360px;
    grid-column-start: 1;
    grid-row-start: 2;
}

.favorite-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 32px;
}

.favorite-menu {
    display: flex;
    gap: 8px;
}

.input {
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #41522E;
    border-radius: 4px;
    height: 18px;
    padding: 4px;
    padding-left: 8px;
}

.rang {
    width: 76px;
}

.price {
    width: 57px;
}